{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet">

        
</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="logo.png">
                    <h2><span class="danger">EME</span> Portal</h2>
                </div>
            </div>
            <div class="close" id="close-btn">
                <span class="material-icons-sharp">close</span>

            </div>
            <div class="sidebar">
                <a href="#" class="active">
                    <span class="material-icons-sharp">space_dashboard</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">emoji_events</span>
                    <h3>Events Request</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">quiz</span>
                    <h3>IRA</h3>
                </a>
                
                <a href="#">
                    <span class="material-icons-sharp">approval</span>
                    <h3>Events Approval</h3>
                </a>
            </div>
        </aside>
        <main>
            <h1>Dashboard</h1>
            <div class="date">
                <input type="date">
            </div>
            <div class="insights-container">
            <div class="insights">
                <div class="sales"><!-- Event 1-->
                    <span class="material-icons-sharp"> analytics</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total_registration</h3>
                            <h1>45</h1>
                        </div>
                        <div class="progress">v>
                            <svg >
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>98%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted"> last 24 hours</small>
                </div>
                <div class="sales">   <!-- Event 1-->
                    <span class="material-icons-sharp"> analytics</span>
                        <div class="middle">
                        <div class="left">
                            <h3>Total_registration</h3>
                            <h1>45</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>98%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted"> last 24 hours</small>
                </div>
                
                <div class="sales">  <!-- Event 1-->
                    <span class="material-icons-sharp"> analytics</span>
                        <div class="middle">
                        <div class="left">
                            <h3>Total_registration</h3>
                            <h1>45</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>98%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted"> last 24 hours</small>
                </div><div class="sales">  <!-- Event 1-->
                    <span class="material-icons-sharp"> analytics</span>
                        <div class="middle">
                        <div class="left">
                            <h3>Total_registration</h3>
                            <h1>45</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>98%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted"> last 24 hours</small>
                </div><div class="sales">  <!-- Event 1-->
                    <span class="material-icons-sharp"> analytics</span>
                        <div class="middle">
                        <div class="left">
                            <h3>Total_registration</h3>
                            <h1>45</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>98%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted"> last 24 hours</small>
                </div><div class="sales">  <!-- Event 1-->
                    <span class="material-icons-sharp"> analytics</span>
                        <div class="middle">
                        <div class="left">
                            <h3>Total_registration</h3>
                            <h1>45</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>98%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted"> last 24 hours</small>
                </div><div class="sales">  <!-- Event 1-->
                    <span class="material-icons-sharp"> analytics</span>
                        <div class="middle">
                        <div class="left">
                            <h3>Total_registration</h3>
                            <h1>45</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>98%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted"> last 24 hours</small>
                </div><div class="sales">  <!-- Event 1-->
                    <span class="material-icons-sharp"> analytics</span>
                        <div class="middle">
                        <div class="left">
                            <h3>Total_registration</h3>
                            <h1>45</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>98%</p>
                            </div>
                            <small class="text-muted"> last 24 hours</small>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        </main>

    </div>
</body>
</html>